<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/header :: head}"></head>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>

<body>

<h1 style="text-align:center;" th:inline="text">
    About Us</h1>
<hr> <br>


<h3 style="text-align:center;" th:inline="text">ATZ Finance History</h3>
<hr>
<br>

<p style="text-align:center;" th:inline="text">ATZ Finance was founded in 1985.<br><br> ATZ Finance founded eFinance in 2021 with the hopes of bringing quick and simple loans to their customers via web application.  <br> <br> eFinance prioritizes in personal, auto and business loans
</p>


<div th:replace="~{fragments/bootscript :: bootstrap-js}"></div>

</body>
</html>