<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}"></head>
<nav th:replace="~{fragments/navbar :: user-navbar}"></nav>

<body class="context">
<div class="context container container-margin">
    <h1 style="text-align:center;" th:inline="text">
        Contact Us</h1>
    <hr>
    <br>

    <h4 style="text-align: center;">
        <b> IT Support: </b> <br><br>
    </h4>
    <p style="text-align: center;">
        <b>Phone Number:</b> 1-800-eFinance <br>
        <b>Email:</b> eFinanceSupport@gmail.com <br>

    </p>


    <hr>
    <br>
    <h4 style="text-align: center;">
        <b> Client/Service Support: </b> <br><br>
    </h4>
    <p style="text-align: center;">
        <b>Phone Number:</b> 1-800-clientHelp <br>
        <b>Email:</b> eFinanceAdmin@gmail.com <br>

    </p>

    <hr>
    <br>
    <h4 style="text-align: center;">
        <b> Live Chat: </b> <br><br>
    </h4>
    <p style="text-align: center;">
        <b>Connect Now:</b> <a>eFinance Live Chat Link</a>
    </p>



</div>



<div th:replace="~{fragments/bootscript :: bootstrap-js}"></div>

</body>
</html>