<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--            PERMIT ALL NAVBAR       -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark" style="background-color: hsla(150, 42%, 62%, 1);"
     th:fragment="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">
                <img alt="Logo"
                     class="img-responsive center-block" height="53" th:src="@{/img/efin-fist-dark.svg}" width="320"/>
            </a>
        </div>
        <div class="navbar-collapse collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li><a class="nav-link" th:href="@{/}">Home</a></li>

                <li><a class="nav-link" th:href="@{/account}">Account</a></li>

                <li class="nav-item dropdown">
                    <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                       id="navbarScrollingDropdown" role="button">Financing</a>
                    <ul aria-labelledby="navbarScrollingDropdown" class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/newAutoLoan}">Auto Loan</a></li>
                        <li><a class="dropdown-item" th:href="@{/newPersonalLoan}">Personal Loan</a></li>
                        <li><a class="dropdown-item" th:href="@{/newBusinessLoan}">Business Loan</a></li>
                        <li><a class="dropdown-item" th:href="@{/loans}">My Loans</a></li>
                    </ul>
                </li>

                <li><a class="nav-link" th:href="@{/contact}">Contact</a></li>

                <li><a class="nav-link" th:href="@{/about}">About</a></li>

            </ul>

        </div>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin-right: 100px;">
        <a class="btn btn-sm btn-outline-secondary" th:href="@{/login}" type="button">Login</a>
        <a class="btn btn-sm btn-outline-secondary" th:href="@{/showNewUserForm}" type="button">Register</a>
    </div>

</nav>

<!--            USER NAVBAR         -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark" th:fragment="user-navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/userHome}">
                <img alt="Logo"
                     class="img-responsive center-block" height="53" th:src="@{/img/efin-fist-dark.svg}" width="320"/>
            </a>
        </div>
        <div class="navbar-collapse collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li><a class="nav-link" th:href="@{/}">Home</a></li>

                <li><a class="nav-link" th:href="@{/account}">Account</a></li>

                <li class="nav-item dropdown">
                    <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                       id="navbarScrollingDropdown" role="button">Financing</a>
                    <ul aria-labelledby="navbarScrollingDropdown" class="dropdown-menu">

                        <li><a class="dropdown-item" th:href="@{/newAutoLoan}">Auto Loan</a></li>
                        <li><a class="dropdown-item" th:href="@{/newPersonalLoan}">Personal Loan</a></li>
                        <li><a class="dropdown-item" th:href="@{/newBusinessLoan}">Business Loan</a></li>

                    </ul>
                </li>

                <li><a class="nav-link" th:href="@{/loans}">My Loans</a></li>

                <li><a class="nav-link" th:href="@{/contact}">Contact</a></li>

                <li><a class="nav-link" th:href="@{/about}">About</a></li>

            </ul>

        </div>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin-right: 100px;">
        <a class="btn btn-sm btn-outline-secondary" th:href="@{/logout}" type="button">Logout</a>

    </div>

</nav>

<!--        NAVBAR FOR ADMIN        -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark" th:fragment="admin-navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/adminHome}">
                <img alt="Logo"
                     class="img-responsive center-block" height="53" th:src="@{/img/efin-fist-dark.svg}" width="320"/>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">

                <a class="nav-link" th:href="@{/adminHome}">ATZ Home</a>

                <a class="nav-link" th:href="@{/clients}">ATZ Clients</a>

                <a class="nav-link" th:href="@{/clientLoans}">Loan Records</a>

                <a class="nav-link" th:href="@{/loanProcessing}">Process Client Loans</a>

            </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin-right: 100px;">
            <a class="btn btn-sm btn-outline-secondary" th:href="@{/logout}" type="button">Logout</a>

        </div>

</nav>
</html>