<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<nav th:fragment="navbar" style="background-color: hsla(150, 42%, 62%, 1);" class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">
                <img src="https://raw.githubusercontent.com/jcswanson/jcswanson.github.io/master/images/efin-fist-dark.svg"
                     class="img-responsive center-block" width="320" height="53" alt="Logo"/>
            </a>
        </div>
        <div class="navbar-collapse collapse"id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li><a class="nav-link" th:href="@{/}">Home</a></li>

                <li><a class="nav-link" th:href="@{/account}">Account</a></li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"  id="navbarScrollingDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">Financing</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item" th:href="@{/newAutoLoan}">Auto Loan</a></li>
                        <li><a class="dropdown-item" th:href="@{/newPersonalLoan}">Personal Loan</a></li>
                        <li><a class="dropdown-item" th:href="@{/newBusinessLoan}">Business Loan</a></li>
                        <li><a class="dropdown-item" th:href="@{/loans}">My Loans</a></li>
                    </ul>
                </li>

                <li><a class="nav-link" th:href="@{/contact}">Contact</a></li>

                <li><a class="nav-link" th:href="@{/about}">About</a></li>

            </ul>

        </div>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin-right: 100px;">
        <a th:href="@{/login}" class="btn btn-sm btn-outline-secondary" type="button">Login</a>
        <a th:href="@{/showNewUserForm}" class="btn btn-sm btn-outline-secondary" type="button">Register</a>
    </div>

</nav>
<nav th:fragment="user-navbar" class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">
                <img src="https://raw.githubusercontent.com/jcswanson/jcswanson.github.io/master/images/efin-fist-dark.svg"
                     class="img-responsive center-block" width="320" height="53" alt="Logo"/>
            </a>
        </div>
        <div class="navbar-collapse collapse"id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li><a class="nav-link" th:href="@{/}">Home</a></li>

                <li><a class="nav-link" th:href="@{/account}">Account</a></li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">Financing</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">

                        <li><a class="dropdown-item" th:href="@{/newAutoLoan}">Auto Loan</a></li>
                        <li><a class="dropdown-item" th:href="@{/newPersonalLoan}">Personal Loan</a></li>
                        <li><a class="dropdown-item" th:href="@{/newBusinessLoan}">Business Loan</a></li>

                    </ul>
                </li>

                <li><a class="nav-link" th:href="@{/loans}">My Loans</a></li>

                <li><a class="nav-link" th:href="@{/contact}">Contact</a></li>

                <li><a class="nav-link" th:href="@{/about}">About</a></li>

            </ul>

        </div>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin-right: 100px;">
        <a th:href="@{/logout}" class="btn btn-sm btn-outline-secondary" type="button">Logout</a>

    </div>

</nav>
</html>