.navbar-dark {

    color: hsla(129, 53%, 90%, 1);
}

body {
    background-color: hsla(141, 45%, 81%, 0.5);;
}
.formButton {
    background-color: hsla(159, 56%, 7%, 1);;
    border-color: #FEFFFF;
    border-width: 2px;
    border-radius: 2px;

}
.loginTitle {
    margin-bottom: 3%;
    font-family: "Roboto", "Verdana", "SansSerif";
    color: hsla(159, 56%, 7%, 1);
    background-color: hsla(141, 45%, 81%, 1);
    border-radius: 5px;
}

.page-title {
    margin-bottom: 3%;
    font-family: "Roboto", "Verdana", "SansSerif";
    color: hsla(159, 56%, 7%, 1);;

}

.container-margin {
    margin-top: 15%;
}

/* LOAN APPLICATION STYLE */

input[type=text],input[type=tel ],textarea,input[type=number], select {
    width: 40%;
    padding: 10px 15px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
}


.one{
    background-color:DodgerBlue ;
    height:35px;
}

.two{

    background-color: pink;
    height:30px;
    font-size: 4;
}
input[type=submit] {
    width: 10%;
    background-color: green;
    color: white;
    padding: 10px 15px;
    margin: 4px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=date],input[type=number]{
    width:25%;
    height:5%;
}
input[type=submit]:hover {
    background-color: green;
}

.div1 {
    border-radius: 15px;
    background-color:LightGray;
    padding: 50px;
}

.col-25 {
    float: left;
    width: 28%;
    margin-top: 3px;
}

.col-75 {
    float: left;
    width: 45%;
    margin-top: 3px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/*!* Home Page *!*/

/*.content1{*/
/*    width: 100%;*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    transform: translateY(-50%);*/
/*    text-align: center;*/
/*    color: #fff;*/

/*}*/

/*.content1 h1{*/
/*    font-size: 70px;*/
/*    margin-top: 20px;*/
/*}*/

/*.content1 p{*/
/*    margin: 20px auto;*/
/*    font-weight: 100;*/
/*    line-height: 25px;*/

/*}*/

/*.content1 button{*/
/*    width: 200px;*/
/*    padding: 15px 0;*/
/*    text-align: center;*/
/*    margin: 20px 10px;*/
/*    border-radius: 25px;*/
/*    font-weight: bold;*/
/*    border: 2px solid #6082B6;*/
/*    background: transparent;*/
/*    color: #fff;*/
/*    cursor: pointer;*/
/*    position: relative;*/
/*    overflow: hidden;*/

/*}*/

/*.content1 span{*/
/*    background: #6082B6;*/
/*    height: 100%;*/
/*    width: 0;*/
/*    border-radius: 25px;*/
/*    position: absolute;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    z-index: -1;*/
/*    transition: 0.5s;*/

/*}*/

/*.content1 button:hover span{*/
/*    width: 100%;*/

/*}*/

/*.content1 button:hover{*/
/*    border: none;*/
/*}*/




/*!* CSS HSL *!*/
/*--nyanza: hsla(129, 53%, 90%, 1);*/
/*--turquoise-green: hsla(141, 45%, 81%, 1);*/
/*--turquoise-green-2: hsla(147, 43%, 71%, 1);*/
/*--ocean-green: hsla(150, 42%, 62%, 1);*/
/*--ocean-green-2: hsla(152, 41%, 52%, 1);*/
/*--illuminating-emerald: hsla(153, 39%, 41%, 1);*/
/*--bottle-green: hsla(153, 40%, 30%, 1);*/
/*--brunswick-green: hsla(155, 43%, 18%, 1);*/
/*--dark-jungle-green: hsla(159, 56%, 7%, 1);*/

