<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}"></head>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<body>
<div  class="container " style="display: flex; justify-content: center; align-items: center; height: 100vh">

    <form class="form-signin" th:action="@{/login}" method="post">
        <!-- error message -->
<!--        <div th:if="${param.error}">-->
<!--            <div class="alert alert-danger">Invalid username or-->
<!--                password.</div>-->


        <h2 class="form-signin-heading">Please sign in</h2>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control"
                   placeholder="Username" required autofocus/>
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control"
                   placeholder="Password" required autofocus/>
        </p>

        <button class="btn btn-outline-success btn-lg col-12 btn-block" type="submit">Login</button><br/><br>
        <a th:href="@{/showNewUserForm}" class="btn btn-outline-success btn-lg col-12 btn-block ">Register</a>
    </form>

</div>

</body>
</html>