<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}"></head>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<body>
<div class="container container-margin">

    <h1 class="page-title">eFinance Registration</h1>
    <hr>
    <form class="row g-3" th:action="@{/saveUser}" th:object="${user}" method="POST">
        <!-- success message -->
<!--        <div th:if="${param.success}">-->
<!--            <div class="alert alert-info">You've successfully registered-->
<!--                to our awesome app!</div>-->
<!--        </div>-->
        <div class="col-md-6">
            <label for="firstName" class="form-label">First Name</label>
            <input placeholder="Enter first name" type="text" th:field="*{firstName}" class="form-control" id="firstName">
        </div>
        <div class="col-md-6">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" th:field="*{lastName}" class="form-control" id="lastName" placeholder="Enter last name">
        </div>
        <div class="col-4">
            <label for="email" class="form-label">Email Address</label>
            <input type="email" th:field="*{emailAddress}" class="form-control" id="email" placeholder="Enter email address" >
        </div>
        <div class="col-md-4">
            <label for="phoneNumber" class="form-label">Phone Number</label>
            <input type="text" th:field="*{phoneNumber}" class="form-control" id="phoneNumber" placeholder="Enter phone number">
        </div>
        <div class="col-md-4">
            <label for="dob" class="form-label">Date of Birth</label>
            <input type="text" th:field="*{dateOfBirth}" class="form-control" id="dob" placeholder="day/month/year" >
        </div>
        <div class="col-md-6">
            <label for="address" class="form-label">Street Address</label>
            <input type="text" th:field="*{address}" class="form-control" id="address" placeholder="Enter address">
        </div>
        <div class="col-md-3">
            <label for="state" class="form-label">State</label>
            <input type="text" th:field="*{state}" class="form-control" id="state" placeholder="Enter state">
<!--            <select id="state" class="form-select">-->
<!--                <option selected>Choose...</option>-->
<!--                <option>...</option>-->
<!--            </select>-->
        </div>
        <div class="col-md-3">
            <label for="zip" class="form-label">Zip Code</label>
            <input type="text" th:field="*{zipCode}" class="form-control" id="zip" placeholder="Enter zip code">
        </div>
        <div class="col-md-4">
            <label for="userName" class="form-label">Choose Username</label>
            <input type="text" th:field="*{username}" class="form-control" id="userName" placeholder="Enter username">
        </div>
        <div class="col-md-4">
            <label for="password" class="form-label">Enter Password</label>
            <input type="password" th:field="*{password}" class="form-control" id="password" placeholder="Enter password">
        </div>
        <div class="col-md-4">
            <label for="passwordConfirm" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="passwordConfirm" placeholder="Confirm password">
        </div>
        <hr>
<!--        <div class="col-12">-->
<!--            <a th:href="@{login.html}" class="form-check-label">Already Registered? Login Here!</a>-->
<!--        </div>-->
        <div class="col-12">
            <button  type="submit" class="btn btn-outline-success btn-lg col-4" id="formButton">Register</button>
        </div>
    </form>
</div>
<div th:replace="~{fragments/bootscript :: bootstrap-js}"></div>

</body>
</html>