<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}"></head>
<nav th:replace="~{fragments/navbar :: user-navbar}"></nav>
<body>
<div class="container container-margin">

    <h2>Business Loan Application</h2>
    <hr>

    <form class="row g-3" th:action="@{/saveBusinessLoan}" th:object="${businessLoan}" method="POST">

        <h3>Business Information</h3>
        <hr>
        <br>
        <div class="col-md-4">
            <label for="businessName" class="form-label">Business Name: </label>
            <input placeholder="Business Name: " type="text" th:field="*{businessName}" id="businessName" class="form-control" >
        </div>
        <div class="col-md-4">
            <label for="businessAddress" class="form-label">Business Address: </label>
            <input placeholder="Business Address: " type="text" th:field="*{businessAddress}" id="businessAddress" class="form-control" >
        </div>
        <div class="col-md-4">
            <label for="propertyCost" class="form-label">Property Cost: </label>
            <input placeholder="Property Cost (per month) : " type="number" th:field="*{propertyCost}" id="propertyCost" class="form-control" >
        </div>
        <div class="col-md-4">
            <label for="annualProfit" class="form-label">Annual Profit: </label>
            <input placeholder="Annual Profit: " type="text" th:field="*{annualProfit}" id="annualProfit" class="form-control" >
        </div>
        <div class="col-md-4">
            <label for="collateral" class="form-label">Collateral: </label>
            <input placeholder="Collateral: " value="check" type="checkbox" th:field="*{collateral}" id="collateral" class="form-control">
        </div>
        <div class="col-md-4">
            <label for="budget" class="form-label">Budget: </label>
            <input placeholder="Budget: " type="number" th:field="*{budget}" id="budget" class="form-control">
        </div>


        <hr>
        <div>
            <h3> Applicant Information</h3>
            <br>
            <hr>
        </div>
        <div class="col-md-4">
            <label for="socialSecurityNumber" class="form-label">Applicant SSN</label>
            <input type="text" th:field="*{socialSecurityNumber}" id="socialSecurityNumber" class="form-control"  placeholder="Enter ssn number">
        </div>
        <div class="col-md-4">
            <label for="employer" class="form-label">Applicant Employer</label>
            <input type="text" th:field="*{employer}" class="form-control" id="employer" placeholder="Enter employer">
        </div>
        <div class="col-md-4">
            <label for="jobTitle" class="form-label">Job Title</label>
            <input type="text" th:field="*{jobTitle}" id="jobTitle" class="form-control" placeholder="Enter job title" >
        </div>
        <div class="col-md-3">
            <label for="annualSalaryAmount" class="form-label">Annual Salary </label>
            <input type="text" th:field="*{annualSalaryAmount}" id="annualSalaryAmount" class="form-control"  placeholder="Enter annual salary">
        </div>
        <div class="col-md-3">
            <label for="interestRate" class="form-label">Interest Rate</label>
            <input type="number" th:field="*{interestRate}" class="form-control" id="interestRate" placeholder="Enter interest rate">
        </div>
        <div class="col-md-3">
            <label for="loanTerm" class="form-label">Loan Term (months)</label>
            <input type="text" th:field="*{loanTermInMonths}"id="loanTerm" class="form-control" placeholder="Enter loan term in months">
        </div>
        <div class="col-md-3">
            <label for="loanAmount" class="form-label">Loan Amount Needed</label>
            <input type="text" th:field="*{loanAmount}" id="loanAmount" class="form-control"  placeholder="Enter loan amount">
        </div>



        <hr>
        <div>
            <h3> Terms and Conditions </h3>
            <br>
            <hr>
        </div>
        <div class="col-md-3">
            <label for="signature" class="form-label" >If you agree to the <a href="https://www.sba.gov/partners/lenders/7a-loan-program/terms-conditions-eligibility" target="_blank"> terms and conditions</a><br><br> Print your full name: </label>

            <input type="text" th:field="*{signature}" id="signature" class="form-control"  placeholder="Print full name: ">
        </div>


        <hr>

        <div class="col-12">
            <button  type="submit" class="btn btn-outline-success btn-lg col-4" id="formButton">Apply for Loan</button>
        </div>

    </form>

    </div>
</div>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<div th:replace="~{fragments/bootscript :: bootstrap-js}"></div>

</body>
</html>