<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}"></head>
<nav th:replace="~{fragments/navbar :: user-navbar}"></nav>
<body>
<div class="container container-margin">

    <h2 class="page-title">Personal Loan Application</h2>
    <hr>
    <form class="row g-3" th:action="@{/savePersonalLoan}" th:object="${personalLoan}" method="POST">

        <h3>Personal Information</h3>
        <hr>
        <br>
        <div class="col-md-4">
            <label for="fName" class="form-label">First Name: </label>
            <input placeholder="First Name: " type="text" th:field="*{fName}" id="fName" class="form-control" >
        </div>
        <div class="col-md-4">
            <label for="lName" class="form-label">Last Name: </label>
            <input placeholder="Last Name: " type="text" th:field="*{lName}" id="lName" class="form-control" >
        </div>
        <div class="col-md-4">
            <label for="age" class="form-label">Age: </label>
            <input placeholder="Age: " type="int" th:field="*{age}" id="age" class="form-control" >
        </div>
        <div class="col-md-4">
            <label for="loanPurpose" class="form-label">Loan Purpose: </label>
<!--            <textarea rows="10" cols="25" th:field="*{loanPurpose}" id="loanPurpose"></textarea>-->
            <textarea placeholder="Purpose of Loan:" type="int" th:field="*{loanPurpose}" id="loanPurpose" class="form-control" rows="5"></textarea>
        </div>
        <div class="col-md-4">
            <label for="personalSignature" class="form-label">Signature: </label>
            <input placeholder="Type Full Name" type="text" th:field="*{personalSignature}" id="personalSignature" class="form-control" >
        </div>


        <div>
            <h3> Applicant Information</h3>
            <br>
            <hr>
        </div>
        <div class="col-md-4">
            <label for="socialSecurityNumber" class="form-label">Applicant SSN</label>
            <input type="text" th:field="*{socialSecurityNumber}" id="socialSecurityNumber" class="form-control"  placeholder="Enter ssn number">
        </div>
        <div class="col-md-4">
            <label for="employer" class="form-label">Applicant Employer</label>
            <input type="text" th:field="*{employer}" class="form-control" id="employer" placeholder="Enter employer">
        </div>
        <div class="col-md-4">
            <label for="jobTitle" class="form-label">Job Title</label>
            <input type="text" th:field="*{jobTitle}" id="jobTitle" class="form-control" placeholder="Enter job title" >
        </div>
        <div class="col-md-3">
            <label for="annualSalaryAmount" class="form-label">Annual Salary </label>
            <input type="text" th:field="*{annualSalaryAmount}" id="annualSalaryAmount" class="form-control"  placeholder="Enter annual salary">
        </div>
        <div class="col-md-3">
            <label for="interestRate" class="form-label">Interest Rate</label>
            <input type="number" th:field="*{interestRate}" class="form-control" id="interestRate" placeholder="Enter interest rate">
        </div>
        <div class="col-md-3">
            <label for="loanTerm" class="form-label">Loan Term (months)</label>
            <input type="text" th:field="*{loanTermInMonths}"id="loanTerm" class="form-control" placeholder="Enter loan term in months">
        </div>
        <div class="col-md-3">
            <label for="loanAmount" class="form-label">Loan Amount Needed</label>
            <input type="text" th:field="*{loanAmount}" id="loanAmount" class="form-control"  placeholder="Enter loan amount">
        </div>


        <hr>
        <div>
            <h3> Terms and Conditions </h3>
            <br>
            <hr>
        </div>
        <div class="col-md-3">
            <label for="signature" class="form-label" >If you agree to the <a href="https://www.sec.gov/Archives/edgar/data/926287/000101041210000341/wharton27500loanagree.htm" target="_blank"> terms and conditions</a><br><br> Print your full name: </label>

            <input type="text" th:field="*{signature}" id="signature" class="form-control"  placeholder="Print full name: ">
        </div>


        <hr>

        <div class="col-12">
            <button  type="submit" class="btn btn-outline-success btn-lg col-4" id="formButton">Apply for Loan</button>
        </div>


    </form>


</div>


<div th:replace="~{fragments/bootscript :: bootstrap-js}"></div>
</body>
</html>